<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Here, just for grins, I'm populating the title with a parameter 
         that gets specified in the call to render_template() in app.py. 
         Go to app.py and see the '/other' route for details. -->
    <title>{{title_we_want}}</title>

    <!-- Import some CSS, just to show how it's done. -->
    <link rel="stylesheet" type="text/css" href="static/style.css"></link>
</head>

<body>
    <h1>This is other.html</h1>

    <h2>You can call the following routes:</h2>
    <ul>
        <li>/</li>
        <li>/other</li>
        <li>/fighteraircraft</li>
        <li>/population</li>
        <li>/test</li>
        <li>/dictionary</li>
        <li>/dict</li>
    </ul>
    <br>

    <!-- Define a link that takes us back to the index route. 
         Note that this doesn't call index.html directly, but 
         instead executes the code for the index route in app.py. -->
    <a href="/">Click here to return home!</a>
</body>

</html>